@import "../../utils/variables.scss";
.container {
  position: relative;
  height: 100%;
  width: 50%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  .form {
    display: flex;
    justify-content: center;
    padding: 1.5rem;

    input {
      padding: 10px;
      border: none;
      outline: none;

      &[type="text"] {
        border-top-left-radius: $radius;
        border-bottom-left-radius: $radius;
      }

      &[type="submit"] {
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
        cursor: pointer;
        background: $blue;
        color: $white;
        transition: $transition;

        &:hover {
          background: $blueSmoked;
        }
      }
    }
  }

  .lists {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    .list {
      position: relative;
      padding: 15px 20px;
      transition: $transition;
      cursor: pointer;

      .delBtn {
        position: absolute;
        top: 0;
        right: 0;
        background: transparent;
        color: $white;
        border: none;
        transition: $transition;
        cursor: pointer;

        &:hover {
          transform: scale(1.5);
        }
      }

      &.selected {
        color: $gray2;
      }

      &.add {
        background: $black;
        color: $white;
      }

      &:hover:not(.add) {
        color: $gray2;
      }
    }
  }

  .todos {
    height: 90%;
    padding-bottom: 50px;
    overflow-y: auto;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column-reverse;
    width: 100%;
  }
}
