@import "../../utils/variables.scss";
.task {
  position: relative;
  background: $white;
  color: $black;
  margin: 0 auto;
  width: 90%;
  height: fit-content;
  min-height: 50px;
  padding: 5px 10px 5px 20px;
  border-radius: $radius;
  font-size: 1.2rem;
  word-wrap: break-word;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: space-between;

  // task completed
  &.done {
    background: $gray1;
  }

  .flex-wrapper {
    height: fit-content;
    min-height: 50px;
    display: flex;
    align-items: center;
    gap: 15px;

    &.buttons {
      position: absolute;
      top: 0;
      bottom: 0;
      right: -120px;
      height: 100%;
      opacity: 1;
      background: $blue;
    }
  }

  // checkbox
  .checkbox-container {
    position: relative;
    padding-left: 35px;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover input ~ .checkmark {
      background: $gray2;
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked ~ .checkmark {
        background-color: $blue;
      }
      &:checked ~ .checkmark:after {
        display: block;
      }
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      border-radius: $radius;
      background-color: $black;

      &:after {
        content: "";
        position: absolute;
        display: none;
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid $white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }

  .editableText {
    height: 100%;
    input {
      border: none;
      background: $black;
      color: $white;
      height: 100%;
      padding: 10px;
      border-radius: $radius;
    }
    #editSubmit {
      visibility: hidden;
    }
    .lblSubmit {
      cursor: pointer;

      i {
        transform: scale(1.2);
      }

      &:hover i {
        color: $gray2;
        transform: scale(1.4);
      }
    }

    form {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .form-control {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: fit-content;
      }
    }
  }

  button {
    display: inline-block;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.225rem;
    cursor: pointer;
    height: 100%;
    width: 60px;

    i {
      color: $white;
      transition: 0.1s ease;

      &.fa-xmark {
        transform: scale(1.2);
      }
    }

    &:hover .fa-pen {
      transform: scale(1.2);
    }
    &:hover .fa-xmark {
      transform: scale(1.4);
    }
  }

  &:hover .buttons {
    right: 0;
    opacity: 1;
    transition: $transition;
  }
}

@media screen and (max-width: 900px) {
  .task {
    width: 60%;
    overflow: visible;
    margin-right: 190px !important;
  }
  .buttons {
    border-bottom-right-radius: $radius;
    border-top-right-radius: $radius;
    background: $blue !important;
    right: -130px !important;
  }

  // error messages on bottom
  // idk where to put them
  .errorMessages {
    position: fixed;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    font-weight: bolder;
    font-size: 1.2rem;
  }
}
